body {
    background-color: #f9f9f9;
    margin-top: 0em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 0em;
}

article {
    font-family: Open Sans;
    font-size: 1rem;
    background-color: white;
}

h1, div#details {
    font-family: Roboto Slab;
    text-align: center;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #9f2402;
    margin: 0;
}

blockquote {
    font-size: 1.25rem;
    border: #ececec;
    background-color: #f9f9f9;
    padding: 1em;
    margin-left: 4em;
    margin-right: 4em;
    font-family: Roboto Slab;
}

img {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

div#details {
    font-size: 1.25rem;
    color: #a9a9ba;
}

p {
    margin-left: 2em;
    margin-right: 2em;
}

footer {
    background-color: #29293a;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

a {
    color: #ec8295; 
}

div#buttons {
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

div#buttons a {
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 1em;
}

div#buttons a:hover {
    background-color: #a9a9ba;
    color: #9f2402;
}